<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamzipup.zipup.mapper.UserMapper">

    <!-- 유저 전체 목록  -->
    <select id="getAllUsers">
        SELECT id, username, password, role
        FROM user
    </select>

    <!-- 이용자 판매자 회원가입  -->
    <insert id="insertUser">
        INSERT INTO USER (ROLE, EMAIL, PASSWORD, ADDRESS, USERNAME, PHONENUMBER)
        VALUES (#{role}, #{email}, #{password}, #{address}, #{userName}, #{phoneNumber});
    </insert>

    <insert id="insertSeller">
        INSERT INTO USER (ROLE, EMAIL, PASSWORD, COMPANYNAME, BUSINESSNUMBER, PHONENUMBER, ADDRESS)
        VALUES (#{role}, #{email}, #{password}, #{companyName}, #{businessNumber}, #{phoneNumber}, #{address});
    </insert>

    <!-- 이용자 로그인  -->
    <select id="findByEmail">
        SELECT id, email, password, role, address, userName, phoneNumber, companyName, businessNumber
        FROM user
        WHERE email = #{email}
    </select>

    <!-- 아이디(이메일) 중복 확인 -->
    <select id="existsByEmail" >
        SELECT EXISTS (
            SELECT 1 FROM user WHERE email = #{email}
        )
    </select>
    <!-- 전화번호와 비밀번호로 사용자 찾기 -->
    <select id="findByPhoneNumberAndPassword">
        SELECT * FROM USER WHERE PHONENUMBER = #{phoneNumber} AND PASSWORD = #{password}
    </select>

    <!-- 이메일과 전화번호로 사용자 찾기 -->
    <select id="findByEmailAndPhoneNumber">
        SELECT * FROM USER WHERE EMAIL = #{email} AND PHONENUMBER = #{phoneNumber}
    </select>

    <!-- 유저 ID로 조회 -->
    <select id="findById">
        SELECT *
        FROM user
        WHERE id = #{id}
    </select>

    <!-- 판매자 정보 가져오기-->
    <select id="getUserBySellerId" >
        SELECT *
        FROM user
        WHERE id = #{sellerId}
    </select>

</mapper>