/* -------------------- 공통 스타일 파트 ----------------------- */
body,
html,
h1,
h2,
p,
div,
a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.zipup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    padding-top: 80px;
    max-width: 407px;
    min-height: 100vh;
    box-sizing: border-box;
}

.zipup-logo {
    width: 158px;
    height: 33px;
    margin-bottom: 53px;
}

.zipup-label {
    font-size: 23px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 15px;
    width: 100%;
}

.zipup-input {
    width: 407px;
    height: 42px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 16px;
}

.zipup-input:focus {
    outline: none;
    border: 2px solid #3e71fe;
}

#email.zipup-input {
    margin-bottom: 1px;
}

.zipup-btn {
    width: 407px;
    height: 51px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.zipup-btn:hover {
    background-color: #333;
}

.zipup-btn:disabled {
    border: #444444;
    color: white;
    background: #d9d9d9;
}

.zipup-error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

/* -------------------- 헤더, 푸터 파트 ------------------------ */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    border-bottom: none;
    background-color: white;
    position: relative;
}

.hf-logo {
    height: 70px;
    margin-bottom: 50px;
}

.nav {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    justify-content: center;
}

.nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.nav a.active {
    color: #3e71fe;
    font-weight: bold;
    border-bottom: 2px solid #3e71fe;
}

.nav a.hover {
    color: #3e71fe;
}

.nav::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
}

.auth-links {
    position: absolute;
    top: 70px;
    right: 50px;
    display: flex;
    gap: 15px;
    font-size: 14px;
}

.auth-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin-left: 25px;
}

.auth-links a:hover {
    color: #3e71fe;
}

.content {
    flex: 1;
}

.footer {
    background-color: #ececec;
    padding: 40px 0;
    border-top: 1px solid #ddd;
    font-size: 14px;
    margin-top: 100px;
    color: #555555;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    width: 250px;
    height: auto;
    margin-right: 20px;
}

.footer-info,
.footer-contact {
    font-size: 14px;
    line-height: 1.8;
    text-align: left;
}

.footer-info p, .footer-contact p {
    margin: 4px 0;
}

.footer-info strong,
.footer-contact strong {
    font-weight: bold;
    color: #000;
}

/* -------------------- 로그인 파트 ----------------------- */

.login-button-group {
    display: flex;
    justify-content: center;
    gap: 37px;
    margin-top: 18px;
}

.login-button-group a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    transition: color 0.3s ease;
}

.login-button-group a:hover {
    color: #3e71fe;
}

.login-error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

/* -------------------- 회원가입 선택 파트 ----------------------- */

.signup-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.signup-button-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 195px;
    height: 116px;
    border: 3px solid gray;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.signup-button-box:hover {
    transform: scale(1.05);
    border-color: #3e71fe;
}

.signup-button-box img.shop_icon,
.signup-button-box img.cart_icon {
    width: 64px;
    height: 64px;
    margin-bottom: 5px;
    transition: filter 0.3s ease;
}

.signup-button-box:hover img.shop_icon {
    content: url("/images/svg/shopBlue.svg");
}

.signup-button-box:hover img.cart_icon {
    content: url("/images/svg/cartBlue.svg");
}

.signup-button-box p {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin: 0;
    transition: color 0.3s ease;
}

.signup-button-box:hover p {
    color: #3e71fe;
}

.signup-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none; /* 링크 밑줄 제거 */
    color: inherit; /* 부모 색상 상속 */
}

/* -------------------- 아이디, 비밀번호 찾기 파트 ----------------------- */

.findResult-text {
    font-size: 20px;
    text-align: center;
}

.findResult-text-p {
    font-size: 25px;
    font-weight: bold;
    color: #3E71FE;
    margin: 10px 0;
}

.result-text .zipup-btn {
    margin-top: 30px;

}


/* -------------------- 인덱스 파트 ----------------------- */

.content-container .product-text {
    font-size: 30px;
    color: black;
    font-weight: bold;
    margin-top: 40px;
}

.content-container .product-list-text {
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.content-container .today-products {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 130px;
}

.content-container {
    max-width: 1400px; /* 전체 컨테이너 최대 너비 설정 */
    margin: 0 auto; /* 양쪽 정렬 중앙 */
    padding: 0 40px; /* 양쪽 여백 추가 */
}

.content-container .product-list-text {
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.content-container .today-products {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* --------------------  오늘의 상품 리스트 -------------------- */
.slider-container {
    display: flex;
    width: 100%;
    max-width: 1400px;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    gap: 20px;
    padding: 20px 0;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* 스크롤바 숨김 (Firefox) */
    -ms-overflow-style: none; /* 스크롤바 숨김 (IE, Edge) */
}

.slider-container::-webkit-scrollbar {
    display: none; /* 스크롤바 숨김 (Chrome, Safari) */
}

.slider-wrapper {
    display: flex;
    gap: 10px;
    scroll-snap-align: start;
}

.slider-product-card {
    flex: 0 0 auto;
    width: 255px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.slider-product-card:hover{
    transform: translateY(-5px);
}

.slider-product-card a {
    text-decoration: none;
    color: inherit;
}

.slider-product-card a:hover {
    text-decoration: none;
}

.slider-product-card img {
    width: 230px;
    height: 280px;
    object-fit: cover;
}

.slider-product-card .product-info {
    margin-top: 10px;
}

.slider-product-card .product-info .product-category {
    font-size: 14px;
    color: #777;
}

.slider-product-card .product-info .product-name {
    font-weight: bold;
    font-size: 16px;
    color: #000;
}

.slider-product-card .product-info .product-price {
    font-size: 18px;
    font-weight: bold;
    color: #3e71fe;
}

/* -------------------- 상품 리스트 -------------------- */
.product-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4개의 열 */
    gap: 20px; /* 카드 간의 간격 */
    padding: 0; /* 상하좌우 공백 추가 */
    margin: 0; /* 양쪽 공백 추가 */
}


.product-card {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.product-card a {
    text-decoration: none;
    color: inherit;
}

.product-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.product-card .product-info {
    margin-top: 10px;
}

.product-card .product-info .product-category {
    font-size: 14px;
    color: #777;
}

.product-card .product-info .product-name {
    font-weight: bold;
    font-size: 16px;
    color: #000;
}

.product-card .product-info .product-price {
    font-size: 18px;
    font-weight: bold;
    color: #3e71fe;
}


/* -------------------- 검색 -------------------- */
.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 130px 0 20px 0; /* 상하 여백 */
    gap: 20px; /* 폼 간의 간격 */
}

.search-container .search {
    display: flex;
    align-items: center;
    margin: 20px 0; /* 상하 여백 */
    gap: 20px; /* 폼 간의 간격 */
}

.search-form, .sort-form {
    display: flex;
    align-items: center;
    gap: 10px; /* 내부 항목 간격 */
}

.search-input, .search-dropdown, .search-button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.search-button {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.search-button:hover {
    background-color: #444;
}


.search-no-results {
    text-align: center;
    margin: 40px 0;
    font-size: 18px;
    color: gray;
    font-weight: bold;
}

/*--------------------- 이용자 회원 가입 파트 ------------------- */

.signup-form-group {
    position: relative; /* 버튼을 입력 필드 안으로 배치하기 위해 필요 */
    display: flex;
    align-items: center;
    width: 407px; /* 기존 signup-input의 너비와 동일 */
    margin-bottom: 15px;
}

.signup-checkBtn {
    position: absolute;
    right: 10px;
    height: 32px;
    padding: 0 10px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    background-color: black;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.signup-inputEmail {
    width: 407px;
    height: 42px;
    padding-right: 100px; /* 버튼 공간 확보 */
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

.signup-inputEmail:focus {
    outline: none;
    border: 2px solid #3e71fe;
}

.signup-error-message {
    color: red;
    margin-bottom: 20px;
}

/* -------------------- 마이페이지 파트 ------------------------ */
.mypage-container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

.mypage-table {
    width: 100%;

    table-layout: fixed;
}

.mypage-table th {
    background-color: #ccc;
    color: #000000;
    text-transform: uppercase; /* 대문자로 표시 */
    font-weight: bold;
    text-align: center; /* 헤더 텍스트 중앙 정렬 */
    padding: 12px 15px;
    white-space: nowrap; /* 줄 바꿈 방지 */
    width: 20%;
}

.mypage-table td {
    color: #555;
    text-align: center;
    padding: 12px 15px;
    width: 80%;
}

.mypage-table tr:hover {
    background-color: #f1f1f1;
}

.mypage-h1 {
    margin-bottom: 20px;
}

/* -------------------- 판매자 제품 등록 파트 ----------------------- */

.seller-detail-container {
    display: grid;
    grid-template-columns: 411px 407px; /*열 배치 크기*/
    gap: 40px 35px; /*그리드 간격 row column*/
    justify-content: center;
    padding: 20px;
    align-items: start;
    grid-template-rows: auto; /* 행 크기 자동 조정 */
}

.seller-detail-container .bottom-section {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: span 2;
}

.seller-detail-container .seller-optionColor,
.seller-detail-container .seller-optionSize {
    width: 360px;
    height: 42px;
    border: 1px solid #999999;
    border-radius: 8px;
    padding: 12px;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 15px;
}

.seller-detail-container .seller-option-add-button1, .seller-detail-container .seller-option-add-button2, .seller-detail-container .seller-option-remove-button {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 8px;
    border: solid 1px #999999;
}

.seller-detail-container .seller-optionColor:focus,
.seller-detail-container .seller-optionSize:focus {
    border: solid 2px #3e71fe;
    outline: none;
}

/* 버튼 색상 동기화 */
.seller-detail-container .seller-option-add-button1:active {
    border: solid 2px #3e71fe;
    outline: none;
}

.seller-detail-container:has(.seller-option-add-button1:active) .plus-icon1 {
    content: url("/images/svg/plusBlue.svg")
}

.seller-detail-container .seller-option-add-button2:active {
    border: solid 2px #3e71fe;
    outline: none;
}

.seller-detail-container:has(.seller-option-add-button2:active) .plus-icon2 {
    content: url("/images/svg/plusBlue.svg")
}

.seller-detail-container .seller-option-remove-button:active {
    border: solid 2px #FA3C56;
    outline: none;
}

.seller-detail-container .option-disabled {
    opacity: 60%;
    pointer-events: none;
}


.seller-detail-container .product-image {
    display: flex;
    width: 411px;
    height: 411px;
    border: solid 1px gray;
    margin-top: 12px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.seller-detail-container .product-image:hover {
    border: solid 2px #3e71fe;
    color: #3e71fe;
    font-weight: bold;
    cursor: pointer;
}

.seller-detail-container .product-image #image {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    width: 411px;
    height: 411px;
    top: 0;
    left: 0;
    display: none;
}

.seller-detail-container .product-image span {
    pointer-events: none;
}

.seller-detail-container .product #price {
    appearance: none;
    -moz-appearance: textfield;
}

/*수정 중*/

.seller-detail-container .description-preview {
    width: 853px;
    height: auto;
    display: flex;
    margin: 30px auto 0;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}

.seller-detail-container .description-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.seller-detail-container .bottom-section .upload-description-image #description {
    opacity: 0;
    width: 100%;
    height: 51px;
    cursor: pointer;
    position: absolute;
    display: none;
    text-align: center;
}

.seller-detail-container .bottom-section .upload-description-image span {
    pointer-events: none;
}


.seller-detail-container .right-section {
    line-height: 40px;
}

.seller-detail-container .category {
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}

.seller-detail-container .category-btn {
    width: 100px;
    height: 31px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.seller-detail-container .category input[type="radio"] {
    display: none;
}

.seller-detail-container .category input[type="radio"]:checked + .category-btn {
    background-color: #3e71fe;
    color: white;
}

.seller-detail-container .upload-description-image {
    width: 100%;
    height: 51px;
    background-color: black;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.seller-detail-container .upload-description-image:hover {
    background-color: #333;
}

.seller-detail-container .upload-icon {
    padding-left: 8px;
    width: 20px;
}

.seller-detail-container .not-option-btn, .seller-detail-container .not-option-btn.color-restoration {
    width: 407px;
    height: 42px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 40px;
    font-size: 16px;
    background-color: white;
}

.seller-detail-container .option-container .not-option-btn.color-change {
    background-color: #3e71fe;
    color: white;
    border: none;
    cursor: pointer;
}

/* -------------------- 이용자 상세페이지 파트 ----------------------- */

.detail-container {
    display: grid;
    grid-template-columns: 411px 407px; /*열 배치 크기*/
    gap: 40px 35px; /*그리드 간격 row column*/
    justify-content: center;
    padding: 20px;
    align-items: start;
    grid-template-rows: auto; /* 행 크기 자동 조정 */
}

.detail-container .bottom-section {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: span 2;
}

.detail-container .product-image {
    display: flex;
    width: 411px;
    height: 411px;
    margin-top: 12px;
    background-color: #dddddd;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
}

.seller-detail-container .product-image .preview img {
    position: absolute;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 10; /*이미지 텍스트 위로 올라오게 설정*/
    top: 0;
    left: 0;
}

.detail-container .right-section {
    line-height: 40px;
}

.detail-container .right-section .seller-name,
.detail-container .right-section .won {
    font-size: 16px;
}

.detail-container .right-section .product-name {
    font-size: 23px;
}

.detail-container .right-section .price {
    font-size: 25px;
    font-weight: bold;
}

.detail-container .right-section .product-price {
    margin-top: 32px;
    margin-bottom: 15px;
}

.detail-container .option-select-btn {
    margin: 20px 0;
}

.detail-container .line {
    border: 1px solid #ddd;
}

.detail-container .options .option-select {
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    width: 407px;
    height: 42px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 16px;
}

.detail-container .total-price {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.detail-container .total-price .total-price-div {
    text-align: right;
    color: #FA3C56;
}

.detail-container .option-label {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 15px;
    width: 100%;
}

.detail-container .description {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------------- 구매 완료 페이지 -------------------- */

.pc-container {
    width: 100%;
    max-width: 407px;
    margin: 50px auto;
    text-align: center;
}

.pc-container .shopping_icon {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
}

.pc-container .completed-text {
    color: #3e71fe;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

.pc-container .pc-hr {
    border: 1px solid #777777;
    margin-top: 25px;
}

.pc-container .info-hr {
    border: 1px solid #777777;
    grid-column: 1 / -1; /* 그리드의 첫 번째 열에서 마지막 열까지 병합 */
    width: 100%; /* 병합된 상태에서도 가로 길이를 유지 */
    border-top: 1px solid #eaeaea;
}

.pc-container .info-grid {
    display: grid;
    grid-template-columns: 100px auto;
    gap: 8px;
    align-items: center;
}

.pc-container .announcement {
    text-align: left;
    margin-top: 20px;
}

.pc-container .user-info {
    background-color: white;
    padding: 15px;
    border: 1px solid #777777;
    border-radius: 8px;
    margin-bottom: 15px;
}

.pc-container .shipping-info {
    background-color: white;
    padding: 15px;
    border: 1px solid #777777;
    border-radius: 8px;
    margin-bottom: 15px;
}

.pc-container .info-label {
    font-size: 25px;
    color: black;
    font-weight: bold;
}


.pc-container .info-title {
    font-size: 15px;
    color: #808080;
}

.pc-container .info {
    font-size: 15px;
    color: black;
}

.pc-container .info-name {
    grid-column: 1 / -1;
    font-size: 14px;
    color: black;
}

.pc-container .info-product-name {
    grid-column: 1 / -1;
    font-size: 18px;
    color: black;
}


.pc-container .info-option {
    grid-column: 1 / -1;
    grid-row: span 2;
    font-size: 14px;
    color: #777777;
}

.pc-container .info-price {
    font-size: 25px;
    color: #FA3C56;
    font-weight: bold;
    text-align: right;
}

.pc-container .span-price {
    color: #FA3C56;
    font-size: 18px;
    font-weight: bold;
}

.pc-container .won {
    color: #FA3C56;
    font-size: 15px;
    justify-content: end;
    display: flex;
    align-items: end;
}

.pc-container .info-home {
    display: flex;
    align-items: center;
    gap: 3px;
}


/* --------------------  상품 리스트 -------------------- */
.slider-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-x: auto;
    gap: 20px;
    padding: 20px 0;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* 스크롤바 숨김 (Firefox) */
    -ms-overflow-style: none; /* 스크롤바 숨김 (IE, Edge) */
}

.slider-container::-webkit-scrollbar {
    display: none; /* 스크롤바 숨김 (Chrome, Safari) */
}

.slider-wrapper {
    display: flex;
    gap: 20px;
    scroll-snap-align: start;
}

.slider-product-card {
    flex: 0 0 auto;
    width: 300px;
    text-align: center;
    border: none;
}

.slider-product-card a {
    text-decoration: none;
    color: inherit;
}

.slider-product-card a:hover {
    text-decoration: none;
}

.slider-product-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.slider-product-card .product-info {
    margin-top: 10px;
}

.slider-product-card .product-info .product-category {
    font-size: 14px;
    color: #777;
}

.slider-product-card .product-info .product-name {
    font-weight: bold;
    font-size: 16px;
    color: #000;
}

.slider-product-card .product-info .product-price {
    font-size: 18px;
    font-weight: bold;
    color: #3e71fe;
}
