<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>이메일 찾기</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/images/img/favicon.ico">
</head>
<body>
<div class="zipup-container">
    <div th:replace="~{layout/subHeader :: subHeader}"></div>

    <form action="/find/email" method="post">
        <label class="zipup-label" for="phoneNumber">전화번호</label>
        <input class="zipup-input" type="text" id="phoneNumber" name="phoneNumber" required>
        <label class="zipup-label" for="password">비밀번호</label>
        <input class ="zipup-input" type="password" id="password" name="password" required>
        <button class="zipup-btn" type="submit">이메일 찾기</button>
        <p th:if="${error}" class="zipup-error" th:text="${error}"> </p>
    </form>
</div>

<div th:replace="~{layout/footer :: footer}"></div>
</body>
</html>
