<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>로그인</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="icon" href="/images/img/favicon.ico">
</head>
<body>
<div class="zipup-container">
  <div th:replace="~{layout/subHeader :: subHeader}"></div>

  <form action="/login" method="post">
    <input name="email" type="email" placeholder="이메일" class="zipup-input" required/>
    <input name="password" type="password" placeholder="비밀번호" class="zipup-input" required/>
    <button class="zipup-btn">로그인</button>
    <p th:if="${error}" class="zipup-error" th:text="${error}"> </p>
  </form>

  <div class="login-button-group">
    <a href="/find/email">이메일 찾기</a>
    <a href="/find/password">비밀번호 찾기</a>
    <a href="/signup">회원가입</a>
  </div>
</div>
<div th:replace="~{layout/footer :: footer}"></div>
</body>
</html>
