<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/img/favicon.ico">
</head>
<body>

<div th:replace="layout/header :: header"></div>

<div class="mypage-container">
    <div class="mypage-h1">
        <h1>마이페이지</h1>
    </div>
    <table class="mypage-table">
        <tr>
            <th>아이디</th>
            <td th:text="${user.email}"></td>
        </tr>
        <tr>
            <th>비밀번호</th>
            <td th:text="${user.password}"></td>
        </tr>
        <tr>
            <th>주소</th>
            <td th:text="${user.address}"></td>
        </tr>
        <div th:if="${session.loginUser.role == 'user'}">
            <tr>
                <th>이름</th>
                <td th:text="${user.userName}"></td>
            </tr>
        </div>
        <tr>
            <th>휴대폰 번호</th>
            <td th:text="${user.phoneNumber}"></td>
        </tr>
        <div th:if="${session.loginUser.role == 'seller'}">
            <tr>
                <th>사업자 등록 번호</th>
                <td  th:text="${user.businessNumber}"></td>
            </tr>
            <tr>
                <th>상호명</th>
                <td th:text="${user.companyName}"></td>
            </tr>
        </div>
    </table>
</div>

<div th:replace="layout/footer :: footer"></div>
</body>
</html>