<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <title>제품 등록하기</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/img/favicon.ico">
</head>

<body>
<th:block th:replace="~{layout/header :: header}"></th:block>
<!-- 전체 컨테이너 -->
<form action="/product/add" method="post" enctype="multipart/form-data" class="form-p-add">
    <div class="seller-detail-container">
        <!-- 좌측 상단 그리드 -->
        <div class="left-section">
            <div class="image">
                <label for="image" class="zipup-label">이미지</label>
                <div class="product-image" id="product-image">
                    <input type="file" id="image" name="image">
                    <div class="preview" id="preview"></div>
                    <span id="instruction">이미지 박스를 클릭하여<br> 이미지를 추가해주세요<br> <br> 411px X 411px <br> or <br> 1:1 비율 권장</span>
                </div>
            </div>
        </div>
        <!-- 우측 상단 그리드 -->
        <div class="right-section">
            <label class="zipup-label">카테고리</label>
            <div class="category" id="category">
                <input type="radio" id="outer" name="category" value="outer">
                <label for="outer" class="category-btn">OUTER</label>
                <input type="radio" id="top" name="category" value="top">
                <label for="top" class="category-btn">TOP</label>
                <input type="radio" id="bottom" name="category" value="bottom">
                <label for="bottom" class="category-btn">BOTTOM</label>
                <input type="radio" id="acc" name="category" value="acc">
                <label for="acc" class="category-btn">ACC</label>
            </div>

            <div class="product">
                <label class="zipup-label">상품 등록</label>
                <label for="productName">
                    <input type="text" id="productName" name="productName" class="zipup-input" placeholder="상품명" maxlength="50"  required>
                </label>
                <label for="price">
                    <input type="number" id="price" name="price" class="zipup-input" placeholder="상품가격" required>
                </label>
            </div>

            <div class="options">
                <label class="zipup-label">상품 옵션 설정</label>
                <div class="option-container" id="option-container">
                    <div id="color-option-container">
                        <label for="option1">
                            <input type="text" id="option1" name="option1" class="seller-optionColor"
                                   placeholder="색상 옵션 추가">
                        </label>
                        <button type="button" class="seller-option-add-button1">
                            <span><img src="/images/svg/plusGray.svg" class="plus-icon1"></span>
                        </button>
                    </div>

                    <div id="size-option-container">
                    <label for="option2">
                        <input type="text" id="option2" name="option2" class="seller-optionSize"
                               placeholder="사이즈 옵션 추가"/>
                    </label>
                    <button type="button" class="seller-option-add-button2">
                        <span><img src="/images/svg/plusGray.svg" class="plus-icon2"></span>
                    </button>
                    </div>

                    <button type="button" id="option3" name="option3" class="not-option-btn">옵션 없음</button>


                    <button type="submit" class="zipup-btn">등록하기</button>
                </div>
            </div>
        </div>
        <!-- 하단 그리드 -->
        <div class="bottom-section">

            <div class="upload-description-image" id="description-image">
                <input type="file" id="description" name="description">
                <span>상세페이지 등록<img src="/images/svg/upload.svg" class="upload-icon" alt="업로드아이콘"></span>
            </div>
            <!-- 상세페이지 이미지 등록하기 전에는 형태 나타나지 않게 보여짐-->
            <div class="description-preview" id="description-preview" alt="상세페이지"></div>
        </div>
    </div>
</form>

<th:block th:replace="~{layout/footer :: footer}"></th:block>
<script src="/js/product.js"></script>
</body>
</html>