<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>구매 완료</title>
<!--    <link rel="stylesheet" href="/css/styles.css">-->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="icon" href="/images/img/favicon.ico">

</head>

<body>
<th:block th:replace="~{layout/header :: header}"></th:block>
<form action="/" method="get">
    <!-- 전체 컨테이너 -->
    <div class="pc-container">
        <div class="completed">
            <img class="shopping_icon" src="/images/svg/shopping.svg">
        </div>
        <div class="completed-text">
            <span>주문이 완료되었습니다</span>
            <hr class="pc-hr">
        </div>
        <div class="announcement">
            <div class="shipping-info">
                <div class="info-grid">
                    <label class="info-label">배송정보</label><br>
                    <hr class="info-hr">
                    <label class="info-title">받는 분</label>
                    <label class="info" th:text="${userName}"></label>
                    <label class="info-title">배송지</label>
                    <label class="info" th:text="${address}"></label>
                </div>
            </div>
            <div class="user-info">
                <div class="info-grid">
                    <label class="info-label">주문정보</label>
                    <hr class="info-hr">
                    <div class="info-home">
                    <img src="/images/svg/home.svg">
                    <label class="info-name" th:text="${companyName}"></label>
                    </div>
                    <label class="info-product-name" th:text="${product.productName}"></label>
                    <span class="info-option" th:text="${option1} + ' / ' + ${option2}"></span>
                    <span class="span-price">결제 금액</span>
                    <span class="won"><label class="info-price" th:text="${formattedPrice}"></label>원</span>
                </div>
            </div>
            <button onclick="location.href='/' " class="zipup-btn">홈 화면 가기</button>
        </div>
    </div>
</form>
</body>
</html>