<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>회원가입</title>
  <link rel="icon" href="/images/img/favicon.ico">
  <link rel="stylesheet" href="/css/styles.css?v-1.1" />
  <style>

  </style>
</head>
<body>
<div class="zipup-container">
  <div th:replace="~{layout/subHeader :: subHeader}"></div>
  <div class="userSignupContainer">
    <form class="signup-user-form" action="/signup/user" method="post">
      <h1 class="zipup-label">로그인 정보</h1>
      <!-- 아이디(이메일) -->
      <div class="signup-form-group">
      <input class="signup-inputEmail" type="email" id="email" name="email" placeholder="이메일" required ><br>
      <button type="button" id="user-check-email-btn" class="signup-checkBtn">중복 확인</button><br>
      </div>


      <!-- 비밀번호 -->
      <input class="zipup-input" type="password" id="password" name="password" placeholder="비밀번호" required /><br>


      <h1 class="zipup-label">개인 정보</h1>
      <!-- 이름 -->
      <input class="zipup-input" type="text" id="userName" name="userName" placeholder="이름" required ><br >
      <!-- 전화번호 -->
      <input class="zipup-input" type="text" id="phoneNumber" name="phoneNumber" placeholder="전화번호(-없이 작성)" required ><br >
      <!-- 주소 -->
      <input class="zipup-input" type="text" id="address" name="address" placeholder="주소" required ><br ><br >
      <!-- 버튼 -->
      <button class="zipup-btn" type="submit">가입 완료</button>
    </form>
  </div>
</div>
<div th:replace="~{layout/footer :: footer}"></div>

<script src="/js/signUp.js"></script>
</body>
</html>